@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?rg323v');
	src:url('fonts/icomoon.eot?#iefixrg323v') format('embedded-opentype'),
		url('fonts/icomoon.woff?rg323v') format('woff'),
		url('fonts/icomoon.ttf?rg323v') format('truetype'),
		url('fonts/icomoon.svg?rg323v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-revo-01:before {
	content: "\e600";
}

html {
    background: #fff;
    font-family: Regencie46188;
    transition: background 1.5s ease-in-out;
}
.container {
    width: 80%;
    margin: auto;
    z-index: -1;
    margin-bottom: 3em;
    padding-top: 4.5em;
    padding-bottom: 6em;  
      
}
.side {
    float: left;
}
.left {
    width: 300px;
}
.right {
    width: 630px;
}
.side img {
    width: 100%;
}
a {
    color: black;
    text-decoration: none;
}
.side ul li:hover {
    padding-left: 30px;
}
.alert {
    text-align: center;
}
.logo {
    color: #bc1a71;
    font-size: 8em;
   
}
.logo:hover {
    -webkit-animation: 0.4s linear 0s normal none infinite spin;
    -moz-animation: 0.4s linear 0s normal none infinite spin;
    -o-animation: 0.4s linear 0s normal none infinite spin;
	animation: 0.4s linear 0s normal none infinite spin;
}
.navi {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 997;
}
.navi-box {
	float: left;
	width: 33.3333%;
	text-align: center;
	font-size: 1.75em;
	padding: 0.5em 0px;
	transition: all 0.3s;
	margin-top:0px;
}
.navi-box:hover {
	margin-top: 20px;

}
#btn-works {
    background: #3c71d1;
    color: #fff;
}
#btn-home {
    background: #fff;
}
#btn-us {
    background: #5eb556;
    color: #fff;
}
.main{
    -webkit-animation:swinging 5s ease-in-out 0s 1;
    -moz-animation:swinging 5s ease-in-out 0s 1;
    animation:swinging 5s ease-in-out 0s 1;
    -webkit-transform-origin:50% 0;
    -moz-transform-origin:50% 0;
    transform-origin:50% 0;
    color: #4d4045;
    opacity: 1;
    transition: opacity 2s;
}
.comment-container {
    position: fixed;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFF;
    overflow-y: scroll;
    z-index: 999;
    transition: all 0.8s ease-in;
    padding-top: 6.5em;
}
.comment-ctrl {
    width: 3em;
    font-size: 1.2em;
    background: #3c51a8;
    position: fixed;
    bottom: 0px;
    left: 3em;
    color: white;
    z-index: 998;
    transition: all 1s;
    margin-bottom: 0px;
}
.comment-ctrl:hover {
         margin-bottom: 20px;
}
.comment-close {
    background: none repeat scroll 0% 0% #3C51A8;
    color: #FFF;
    font-size: 1.5em;
    position: absolute;
    padding: 0.01em;
    width: 100%;
    top: 0;
}
.comment-close p i { padding-right: 20px;}
#disqus_thread {
    width: 90%;
    margin: auto;
}
@-webkit-keyframes swinging{
    0% { -webkit-transform: rotate(0); }
    25% { -webkit-transform: rotate(4deg); }
    50% { -webkit-transform: rotate(-3deg); }
    75% { -webkit-transform: rotate(2deg); }
    99% { -webkit-transform: rotate(0); } /* Come to rest at 50%. The rest is just stillness */
    100% { -webkit-transform: rotate(0); }
}
 
@-moz-keyframes swinging{
    0% { -moz-transform: rotate(0); }
    25% { -moz-transform: rotate(4deg); }
    50% { -moz-transform: rotate(-3deg); }
    75% { -moz-transform: rotate(2deg); }
    99% { -moz-transform: rotate(0); } /* Come to rest at 50%. The rest is just stillness */
    100% { -moz-transform: rotate(0); }
}
 
@keyframes swinging{
    0% { transform: rotate(0); }
    25% { transform: rotate(4deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(2deg); }
    99% { transform: rotate(0); } /* Come to rest at 50%. The rest is just stillness */
    100% { transform: rotate(0); }
}
@keyframes bgdd{
    0% { background-color:  red; }
    50% {background-color: blue; }
    100% {background-color: red; }
}

.hidden {
    display: none;
}

.comment-holder {
  height: 6em;
}
